{:tasks {build {:doc "Build uberjar"
                ;; FIXME: Consider if it would be better to handle Cljs build in separate classpath
                :task (clojure "-T:shadow-cljs:frontend:backend:build uberjar")}
         outdated {:doc "Check depdendencies"
                   :task (clojure "-M:outdated")}
         lint {:doc "Lint"
               :task (shell "clj-kondo --lint src")}
         init-lint {:doc "Initialize clj-kondo cache and copy lib configs"
                    :task (shell "sh -c" "clj-kondo --copy-configs --lint $(clj -Spath -A:backend:frontend)")}
         test {:doc "Run backend unit tests"
               :task (clojure "-M:backend:test")}
         test-browser {:doc "Run cljs unit tests in a local browser"
                       :task (shell "npm run test-browser")}
         test-karma {:doc "Build and run cljs unit tests for/with Karma"
                     :task (shell "npm run test-karma")}
         -clean-svgs {:tasks (shell "rm target/gen/svg/* src/js/*")}
         -svgr {:depends [-clean-svgs]
                :doc "Generate React component JSX files for svg files"
                :task (shell "npx @svgr/cli --out-dir target/gen/svg -- src/svg")}
         svg-icons {:doc "Generate React component JS files for svg files"
                    :depends [-svgr]
                    :task (shell "npx babel target/gen/svg --out-dir src/js")}}}
