{:deps {:aliases [:shadow-cljs :frontend]}
 :dev-http {8080 "public"}
 :builds {:app
          {:target :browser
           :module-hash-names true
           :output-dir "target/dev/public/js"
           :modules {:main {:entries [frontend.core]
                            :init-fn frontend.core/init}}
           :devtools {:preloads [preload devtools.preload]}
           :release {:output-dir "target/release/public/js"}}}}
